ID: 16b2f0e8de81f000

## Working with FoodBalanceSheet

In [8]:
import pandas as pd
import numpy as np
import os

os.getcwd()

'C:\\Users\\DATAGUY\\Documents\\15DC Workspace\\Data Analysis Projects\\Hamoye Data Story 2023 Project'

In [18]:
df=pd.read_csv(r'C:\Users\DATAGUY\Documents\Hamoye Ai Spring2023 Cohort\Python Lesson 1\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [32]:
df.shape

(60943, 12)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [95]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Area Code,60943.0,134.265576,72.605709,4.0,74.0,136.00,195.00,276.0
Item Code,60943.0,2687.176706,146.055739,2501.0,2562.0,2630.00,2775.00,2961.0
Element Code,60943.0,3814.856456,2212.007033,511.0,684.0,5142.00,5511.00,5911.0
Y2014,59354.0,134.196282,1567.663696,-1796.0,0.0,0.09,8.34,176405.0
Y2015,59395.0,135.235966,1603.403984,-3161.0,0.0,0.08,8.46,181137.0
Y2016,59408.0,136.555222,1640.007194,-3225.0,0.0,0.08,8.43,185960.0
Y2017,59437.0,140.917765,1671.862359,-1582.0,0.0,0.10,9.00,190873.0
Y2018,59507.0,143.758381,1710.782658,-3396.0,0.0,0.07,9.00,195875.0

In [23]:
# Check for duplicate values
df.duplicated().any()

False

In [28]:
# Check for Missing values
df.isnull().any().sum()

5

In [31]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [40]:
df[['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018' ]].sum()

Y2014    7965086.13
Y2015    8032340.23
Y2016    8112472.65
Y2017    8375729.19
Y2018    8554629.96
dtype: float64

In [44]:
df.groupby('Element')[['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018' ]].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [45]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [96]:
# To get the percentage of null values in 2014
df['Y2014'].isnull().mean()*100

2.6073544131401474

In [53]:
t= (1,2,5,8)
t[2]=6

TypeError: 'tuple' object does not support item assignment

In [61]:
S= [['him', 'sell'],[90,28,43]]
S[0][1][1]

'e'

In [63]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [65]:
#Create a Pandas DataFrame
pd.DataFrame(lst,columns=["Age",'Nationality','Overall'], index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [74]:
#Least Correlated Elements
df[['Y2014','Y2015', 'Y2016', 'Y2017', 'Y2018' ]].corr().min()

Y2014    0.994647
Y2015    0.988048
Y2016    0.992757
Y2017    0.988048
Y2018    0.988208
dtype: float64

In [75]:
Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

SyntaxError: invalid syntax (2182554457.py, line 1)

In [82]:
#Wine quantity supplied in Madagascar
result = df[df['Area'] == 'Madagascar'].groupby('Element')[['Y2015', 'Y2018']].sum()

print(result)

                                           Y2015     Y2018
Element
Domestic supply quantity                31214.98  32596.87
Export Quantity                           494.75    535.81
Fat supply quantity (g/capita/day)         91.85     96.43
Feed                                     2070.22   2133.60
Food                                    21120.65  22116.21
Food supply (kcal/capita/day)            7685.00   7748.00
Food supply quantity (kg/capita/yr)       871.59    842.17
Import Quantity                          1721.80   3214.79
Losses                                   2176.00   2253.00
Other uses (non-food)                    3957.12   4221.06
Processing                               1803.00   1819.00
Production                              29482.89  30215.86
Protein supply quantity (g/capita/day)    173.05    176.64
Residuals                                -616.00   -676.00
Seed                                      699.00    728.00
Stock Variation                          -505.00    293.00
Total Population - Both sexes           24234.00  26262.00

In [90]:
#The quantity of wine in @015 and 2018
df.groupby('Item')[['Y2015', 'Y2018']].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [84]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Area Code,60943.0,134.265576,72.605709,4.0,74.0,136.00,195.00,276.0
Item Code,60943.0,2687.176706,146.055739,2501.0,2562.0,2630.00,2775.00,2961.0
Element Code,60943.0,3814.856456,2212.007033,511.0,684.0,5142.00,5511.00,5911.0
Y2014,59354.0,134.196282,1567.663696,-1796.0,0.0,0.09,8.34,176405.0
Y2015,59395.0,135.235966,1603.403984,-3161.0,0.0,0.08,8.46,181137.0
Y2016,59408.0,136.555222,1640.007194,-3225.0,0.0,0.08,8.43,185960.0
Y2017,59437.0,140.917765,1671.862359,-1582.0,0.0,0.10,9.00,190873.0
Y2018,59507.0,143.758381,1710.782658,-3396.0,0.0,0.07,9.00,195875.0

In [86]:
df.shape

(60943, 12)

In [92]:
df.groupby('Area')['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [98]:
#Sorth the Countryto get the 7th Least country in 2017 in sum
df.groupby('Area')['Y2017'].sum().sort_values(ascending= True)

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [94]:
#7th Highest in Sum
result = df.groupby('Area')['Y2017'].sum()

# Sort the results in ascending order
result_sorted = result.sort_values(ascending=False)

print(result_sorted)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64